@model IEnumerable<CateringWebApplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Add New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                Image
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>*@
            <td>
                <img src="@Url.Content(item.imagePath)" class="rounded-circle" width="100"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
